USE [master]
GO
/****** Object:  Database [SALEGEARVN]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE DATABASE [SALEGEARVN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SALEGEARVN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SALEGEARVN.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SALEGEARVN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SALEGEARVN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SALEGEARVN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SALEGEARVN]
GO
/****** Object:  Table [dbo].[KHO_CHITIET_TONKHO]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO_CHITIET_TONKHO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_PHIEUNHAP_CT] [bigint] NOT NULL,
	[MAHH] [nvarchar](30) NOT NULL,
	[NGAY_NHAP] [date] NOT NULL,
	[SO_LUONG_NHAP] [int] NOT NULL,
	[DON_GIA_NHAP] [decimal](18, 2) NOT NULL,
	[SO_LUONG_TON] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TonKhoHienTai]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.5. Tạo View để làm báo cáo trong app cho dễ
CREATE   VIEW [dbo].[vw_TonKhoHienTai] AS
SELECT MAHH, SUM(SO_LUONG_TON) AS TON_HIEN_TAI
FROM dbo.KHO_CHITIET_TONKHO
GROUP BY MAHH;
GO
/****** Object:  Table [dbo].[PHIEU]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU](
	[SOPHIEU] [bigint] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[LOAI] [char](1) NOT NULL,
	[MA_NCC] [nvarchar](20) NULL,
	[MAKH] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](300) NULL,
	[TRANGTHAI] [int] NOT NULL,
	[SO_CT] [nvarchar](30) NULL,
	[MACT] [nvarchar](10) NULL,
	[ID_YEUCAU] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_CT]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_CT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SOPHIEU] [bigint] NOT NULL,
	[MAHH] [nvarchar](30) NOT NULL,
	[SL] [int] NOT NULL,
	[DONGIA] [decimal](18, 2) NOT NULL,
	[THANHTIEN]  AS (CONVERT([decimal](18,2),[SL]*[DONGIA])) PERSISTED,
	[GIAVON] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BanHangNgay]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_BanHangNgay] AS
SELECT 
    p.NGAYLAP,
    SUM(ct.THANHTIEN) AS DOANH_THU,
    SUM(ct.GIAVON * ct.SL) AS GIA_VON,
    SUM(ct.THANHTIEN) - SUM(ct.GIAVON * ct.SL) AS LAI_GOP
FROM dbo.PHIEU p
JOIN dbo.PHIEU_CT ct ON ct.SOPHIEU = p.SOPHIEU
WHERE p.LOAI = 'X' AND p.TRANGTHAI = 1 -- Chỉ tính phiếu xuất đã ghi sổ
GROUP BY p.NGAYLAP;
GO
/****** Object:  Table [dbo].[BANGCHAMCONG]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCHAMCONG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
	[THANG] [tinyint] NOT NULL,
	[NAM] [smallint] NOT NULL,
	[NGAYCONG] [decimal](5, 2) NOT NULL,
	[GHICHU] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CHAMCONG] UNIQUE NONCLUSTERED 
(
	[MANV] ASC,
	[NAM] ASC,
	[THANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUTTOAN_KETOAN]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUTTOAN_KETOAN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NGAY_HT] [date] NOT NULL,
	[SO_CT] [nvarchar](30) NULL,
	[MA_CT] [nvarchar](10) NULL,
	[DIEN_GIAI] [nvarchar](300) NOT NULL,
	[TK_NO] [nvarchar](20) NOT NULL,
	[TK_CO] [nvarchar](20) NOT NULL,
	[SOTIEN] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUCKHACHHANG]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCKHACHHANG](
	[MAKH] [nvarchar](20) NOT NULL,
	[TENKH] [nvarchar](200) NOT NULL,
	[DIACHI] [nvarchar](300) NULL,
	[SDT] [nvarchar](30) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[GHICHU] [nvarchar](300) NULL,
	[NGAYTAO] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_CHUNGTU]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_CHUNGTU](
	[MACT] [nvarchar](10) NOT NULL,
	[TENCT] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_HANGHOA]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_HANGHOA](
	[MAHH] [nvarchar](30) NOT NULL,
	[MANHOM] [nvarchar](20) NOT NULL,
	[TENHH] [nvarchar](300) NOT NULL,
	[DVT] [nvarchar](50) NOT NULL,
	[GIAVON] [decimal](18, 2) NULL,
	[GIABAN] [decimal](18, 2) NULL,
	[TONKHO] [int] NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[ANH] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NGANHANG]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NGANHANG](
	[MANH] [nvarchar](20) NOT NULL,
	[TENNH] [nvarchar](200) NOT NULL,
	[CHINHANH] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NHACUNGCAP]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NHACUNGCAP](
	[MA_NCC] [nvarchar](20) NOT NULL,
	[TEN_NCC] [nvarchar](200) NOT NULL,
	[DIACHI_NCC] [nvarchar](300) NULL,
	[SDT] [nvarchar](30) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[MSTHUE] [nvarchar](30) NULL,
	[GHICHU] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_NHOMHANG]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NHOMHANG](
	[MANHOM] [nvarchar](20) NOT NULL,
	[TENNHOM] [nvarchar](200) NOT NULL,
	[GHICHU] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_TAIKHOAN_NGANHANG]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TAIKHOAN_NGANHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SO_TK] [nvarchar](50) NOT NULL,
	[NGANHANG] [nvarchar](20) NOT NULL,
	[CHU_TK] [nvarchar](200) NOT NULL,
	[LOAI_TK] [nvarchar](10) NOT NULL,
	[MA_DOITUONG] [nvarchar](20) NOT NULL,
	[GHICHU] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SO_TK] ASC,
	[NGANHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_TAIKHOANKETOAN]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TAIKHOANKETOAN](
	[SOTK] [nvarchar](20) NOT NULL,
	[TENTK] [nvarchar](200) NOT NULL,
	[CAP] [tinyint] NOT NULL,
	[TK_ME] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HESOLUONG]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HESOLUONG](
	[CHUCVU] [nvarchar](100) NOT NULL,
	[HESOLUONG] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [nvarchar](100) NOT NULL,
	[MATKHAU] [nvarchar](255) NOT NULL,
	[MAQUYEN] [int] NOT NULL,
	[HOTEN] [nvarchar](200) NULL,
	[HOATDONG] [bit] NOT NULL,
	[MANV] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](20) NOT NULL,
	[HOTEN] [nvarchar](200) NOT NULL,
	[CHUCVU] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[SDT] [nvarchar](30) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[HOATDONG] [bit] NOT NULL,
	[ANH] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_YEUCAU_NHAPKHO]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NGAY_YEUCAU] [date] NOT NULL,
	[MANV_YEUCAU] [nvarchar](20) NOT NULL,
	[LYDO] [nvarchar](300) NULL,
	[TRANGTHAI] [tinyint] NOT NULL,
	[MANV_DUYET] [nvarchar](20) NULL,
	[NGAY_DUYET] [date] NULL,
	[GHICHU_DUYET] [nvarchar](300) NULL,
 CONSTRAINT [PK_PHIEU_YEUCAU_NHAPKHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_YEUCAU_NHAPKHO_CT]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO_CT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_YEUCAU] [bigint] NOT NULL,
	[MAHH] [nvarchar](30) NOT NULL,
	[SOLUONG_YEUCAU] [int] NOT NULL,
	[GHICHU] [nvarchar](300) NULL,
	[SOLUONG_DANHAP] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PHIEU_YEUCAU_NHAPKHO_CT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUCHI]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUCHI](
	[SOPTC] [varchar](20) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[LOAI] [char](1) NULL,
	[MAKH] [varchar](50) NULL,
	[MA_NCC] [varchar](50) NULL,
	[SOTIEN] [decimal](18, 0) NULL,
	[LYDO] [nvarchar](255) NULL,
	[MANV] [varchar](50) NULL,
	[SOTK_NO] [varchar](20) NULL,
	[SOTK_CO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYENHAN]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYENHAN](
	[MAQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](100) NOT NULL,
	[GHICHU] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SODUDAU_KETOAN]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SODUDAU_KETOAN](
	[NAM] [smallint] NOT NULL,
	[SOTK] [nvarchar](20) NOT NULL,
	[MATK2] [nvarchar](20) NOT NULL,
	[DU_NO] [decimal](18, 2) NOT NULL,
	[DU_CO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SODUDAU_KETOAN] PRIMARY KEY CLUSTERED 
(
	[NAM] ASC,
	[SOTK] ASC,
	[MATK2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAMUNG]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAMUNG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
	[NGAY] [date] NOT NULL,
	[SOTIEN] [decimal](18, 2) NOT NULL,
	[GHICHU] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINCONGTY]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINCONGTY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENCONGTY] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[DIENTHOAI] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[WEBSITE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_BT_NGAY]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_BT_NGAY] ON [dbo].[BUTTOAN_KETOAN]
(
	[NGAY_HT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BT_TKCO]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_BT_TKCO] ON [dbo].[BUTTOAN_KETOAN]
(
	[TK_CO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BT_TKNO]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_BT_TKNO] ON [dbo].[BUTTOAN_KETOAN]
(
	[TK_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TONKHO_MAHH_TON]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_TONKHO_MAHH_TON] ON [dbo].[KHO_CHITIET_TONKHO]
(
	[MAHH] ASC,
	[SO_LUONG_TON] ASC
)
INCLUDE([DON_GIA_NHAP]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PHIEU_MAKH]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEU_MAKH] ON [dbo].[PHIEU]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PHIEU_MANCC]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEU_MANCC] ON [dbo].[PHIEU]
(
	[MA_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PHIEU_NGAY_LOAI]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEU_NGAY_LOAI] ON [dbo].[PHIEU]
(
	[NGAYLAP] ASC,
	[LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PHIEUCT_MAHH]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUCT_MAHH] ON [dbo].[PHIEU_CT]
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PHIEUCT_SOPHIEU]    Script Date: 12/10/2025 4:51:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHIEUCT_SOPHIEU] ON [dbo].[PHIEU_CT]
(
	[SOPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGCHAMCONG] ADD  DEFAULT ((0)) FOR [NGAYCONG]
GO
ALTER TABLE [dbo].[DM_HANGHOA] ADD  DEFAULT ((0)) FOR [TONKHO]
GO
ALTER TABLE [dbo].[DM_HANGHOA] ADD  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[DM_TAIKHOANKETOAN] ADD  DEFAULT ((1)) FOR [CAP]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT ((1)) FOR [HOATDONG]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [HOATDONG]
GO
ALTER TABLE [dbo].[PHIEU] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO_CT] ADD  DEFAULT ((0)) FOR [SOLUONG_DANHAP]
GO
ALTER TABLE [dbo].[PHIEUTHUCHI] ADD  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[PHIEUTHUCHI] ADD  DEFAULT ((0)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[SODUDAU_KETOAN] ADD  DEFAULT ('') FOR [MATK2]
GO
ALTER TABLE [dbo].[SODUDAU_KETOAN] ADD  DEFAULT ((0)) FOR [DU_NO]
GO
ALTER TABLE [dbo].[SODUDAU_KETOAN] ADD  DEFAULT ((0)) FOR [DU_CO]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[BUTTOAN_KETOAN]  WITH CHECK ADD  CONSTRAINT [FK_BUTTOAN_CHUNGTU] FOREIGN KEY([MA_CT])
REFERENCES [dbo].[DM_CHUNGTU] ([MACT])
GO
ALTER TABLE [dbo].[BUTTOAN_KETOAN] CHECK CONSTRAINT [FK_BUTTOAN_CHUNGTU]
GO
ALTER TABLE [dbo].[BUTTOAN_KETOAN]  WITH CHECK ADD  CONSTRAINT [FK_BUTTOAN_TKCO] FOREIGN KEY([TK_CO])
REFERENCES [dbo].[DM_TAIKHOANKETOAN] ([SOTK])
GO
ALTER TABLE [dbo].[BUTTOAN_KETOAN] CHECK CONSTRAINT [FK_BUTTOAN_TKCO]
GO
ALTER TABLE [dbo].[BUTTOAN_KETOAN]  WITH CHECK ADD  CONSTRAINT [FK_BUTTOAN_TKNO] FOREIGN KEY([TK_NO])
REFERENCES [dbo].[DM_TAIKHOANKETOAN] ([SOTK])
GO
ALTER TABLE [dbo].[BUTTOAN_KETOAN] CHECK CONSTRAINT [FK_BUTTOAN_TKNO]
GO
ALTER TABLE [dbo].[DM_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_NHOMHANG] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[DM_NHOMHANG] ([MANHOM])
GO
ALTER TABLE [dbo].[DM_HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_NHOMHANG]
GO
ALTER TABLE [dbo].[DM_TAIKHOAN_NGANHANG]  WITH CHECK ADD  CONSTRAINT [FK_TKNH_NGANHANG] FOREIGN KEY([NGANHANG])
REFERENCES [dbo].[DM_NGANHANG] ([MANH])
GO
ALTER TABLE [dbo].[DM_TAIKHOAN_NGANHANG] CHECK CONSTRAINT [FK_TKNH_NGANHANG]
GO
ALTER TABLE [dbo].[DM_TAIKHOANKETOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_ME] FOREIGN KEY([TK_ME])
REFERENCES [dbo].[DM_TAIKHOANKETOAN] ([SOTK])
GO
ALTER TABLE [dbo].[DM_TAIKHOANKETOAN] CHECK CONSTRAINT [FK_TAIKHOAN_ME]
GO
ALTER TABLE [dbo].[KHO_CHITIET_TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[DM_HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[KHO_CHITIET_TONKHO] CHECK CONSTRAINT [FK_KHO_HANGHOA]
GO
ALTER TABLE [dbo].[KHO_CHITIET_TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_PHIEUCT] FOREIGN KEY([ID_PHIEUNHAP_CT])
REFERENCES [dbo].[PHIEU_CT] ([ID])
GO
ALTER TABLE [dbo].[KHO_CHITIET_TONKHO] CHECK CONSTRAINT [FK_KHO_PHIEUCT]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_QUYENHAN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYENHAN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_QUYENHAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_HESOLUONG] FOREIGN KEY([CHUCVU])
REFERENCES [dbo].[HESOLUONG] ([CHUCVU])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_HESOLUONG]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_DM_CHUNGTU] FOREIGN KEY([MACT])
REFERENCES [dbo].[DM_CHUNGTU] ([MACT])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_DM_CHUNGTU]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[DANHMUCKHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHACUNGCAP] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[DM_NHACUNGCAP] ([MA_NCC])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_YEUCAU] FOREIGN KEY([ID_YEUCAU])
REFERENCES [dbo].[PHIEU_YEUCAU_NHAPKHO] ([ID])
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [FK_PHIEU_YEUCAU]
GO
ALTER TABLE [dbo].[PHIEU_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCT_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[DM_HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[PHIEU_CT] CHECK CONSTRAINT [FK_PHIEUCT_HANGHOA]
GO
ALTER TABLE [dbo].[PHIEU_CT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCT_PHIEU] FOREIGN KEY([SOPHIEU])
REFERENCES [dbo].[PHIEU] ([SOPHIEU])
GO
ALTER TABLE [dbo].[PHIEU_CT] CHECK CONSTRAINT [FK_PHIEUCT_PHIEU]
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAU_NHANVIEN_DUYET] FOREIGN KEY([MANV_DUYET])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO] CHECK CONSTRAINT [FK_YEUCAU_NHANVIEN_DUYET]
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAU_NHANVIEN_YC] FOREIGN KEY([MANV_YEUCAU])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO] CHECK CONSTRAINT [FK_YEUCAU_NHANVIEN_YC]
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO_CT]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAU_CT_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[DM_HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO_CT] CHECK CONSTRAINT [FK_YEUCAU_CT_HANGHOA]
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO_CT]  WITH CHECK ADD  CONSTRAINT [FK_YEUCAU_CT_YEUCAU] FOREIGN KEY([ID_YEUCAU])
REFERENCES [dbo].[PHIEU_YEUCAU_NHAPKHO] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_YEUCAU_NHAPKHO_CT] CHECK CONSTRAINT [FK_YEUCAU_CT_YEUCAU]
GO
ALTER TABLE [dbo].[SODUDAU_KETOAN]  WITH CHECK ADD  CONSTRAINT [FK_SODUDAU_TAIKHOAN] FOREIGN KEY([SOTK])
REFERENCES [dbo].[DM_TAIKHOANKETOAN] ([SOTK])
GO
ALTER TABLE [dbo].[SODUDAU_KETOAN] CHECK CONSTRAINT [FK_SODUDAU_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAMUNG]  WITH CHECK ADD  CONSTRAINT [FK_TAMUNG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TAMUNG] CHECK CONSTRAINT [FK_TAMUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [CK_CC_NGAYCONG] CHECK  (([NGAYCONG]>=(0) AND [NGAYCONG]<=(31)))
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [CK_CC_NGAYCONG]
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [CK_CC_THANG] CHECK  (([THANG]>=(1) AND [THANG]<=(12)))
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [CK_CC_THANG]
GO
ALTER TABLE [dbo].[DM_TAIKHOAN_NGANHANG]  WITH CHECK ADD CHECK  (([LOAI_TK]=N'NCC' OR [LOAI_TK]=N'CTY'))
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [CK_PHIEU_LOAI] CHECK  (([LOAI]='X' OR [LOAI]='N'))
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [CK_PHIEU_LOAI]
GO
ALTER TABLE [dbo].[PHIEU]  WITH CHECK ADD  CONSTRAINT [CK_PHIEU_TRANGTHAI] CHECK  (([TRANGTHAI]=(2) OR [TRANGTHAI]=(1) OR [TRANGTHAI]=(0)))
GO
ALTER TABLE [dbo].[PHIEU] CHECK CONSTRAINT [CK_PHIEU_TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEU_CT]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUCT_SL_DG] CHECK  (([SL]>(0) AND [DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[PHIEU_CT] CHECK CONSTRAINT [CK_PHIEUCT_SL_DG]
GO
ALTER TABLE [dbo].[TAMUNG]  WITH CHECK ADD CHECK  (([SOTIEN]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCao_DoanhThu]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP Báo cáo Doanh Thu
CREATE PROCEDURE [dbo].[sp_BaoCao_DoanhThu]
    @TuNgay DATETIME,
    @DenNgay DATETIME
AS
BEGIN
    SELECT 
        p.NGAYLAP,
        p.SOPHIEU,
        kh.TENKH,
        SUM(ct.SL * ct.DONGIA) AS DOANH_THU,
        p.GHICHU
    FROM PHIEU p
    JOIN PHIEU_CT ct ON p.SOPHIEU = ct.SOPHIEU
    JOIN DANHMUCKHACHHANG kh ON p.MAKH = kh.MAKH
    WHERE p.LOAI = 'X' AND p.TRANGTHAI = 1 -- Chỉ lấy phiếu xuất đã hoàn thành
    AND p.NGAYLAP BETWEEN @TuNgay AND @DenNgay
    GROUP BY p.NGAYLAP, p.SOPHIEU, kh.TENKH, p.GHICHU
    ORDER BY p.NGAYLAP DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCao_NhapXuatTon]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP Báo cáo Nhập Xuất Tồn
CREATE PROCEDURE [dbo].[sp_BaoCao_NhapXuatTon]
    @TuNgay DATETIME,
    @DenNgay DATETIME
AS
BEGIN
    SELECT 
        hh.MAHH, 
        hh.TENHH, 
        hh.DVT,
        ISNULL(SUM(CASE WHEN p.LOAI = 'N' THEN ct.SL ELSE 0 END), 0) AS NHAP,
        ISNULL(SUM(CASE WHEN p.LOAI = 'X' THEN ct.SL ELSE 0 END), 0) AS XUAT,
        ISNULL(v.TON_HIEN_TAI, 0) AS TON_CUOI
    FROM DM_HANGHOA hh
    LEFT JOIN PHIEU_CT ct ON hh.MAHH = ct.MAHH
    LEFT JOIN PHIEU p ON ct.SOPHIEU = p.SOPHIEU
    LEFT JOIN vw_TonKhoHienTai v ON hh.MAHH = v.MAHH
    WHERE (p.NGAYLAP BETWEEN @TuNgay AND @DenNgay) OR p.SOPHIEU IS NULL
    GROUP BY hh.MAHH, hh.TENHH, hh.DVT, v.TON_HIEN_TAI
    ORDER BY hh.TENHH;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTongHopTonKho]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 1. PROC BÁO CÁO TỔNG HỢP TỒN KHO
-- Sửa lỗi: Đổi ct.SOLUONG thành ct.SL
-- =============================================
CREATE   PROCEDURE [dbo].[sp_BaoCaoTongHopTonKho]
    @TuNgay DATETIME,
    @DenNgay DATETIME,
    @TuKhoa NVARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    WITH CTE_NX AS (
        SELECT 
            ct.MAHH,
            -- Tồn Đầu: (Tổng Nhập - Tổng Xuất) trước ngày Từ Ngày
            SUM(CASE 
                WHEN p.NGAYLAP < @TuNgay AND p.LOAI = 'N' THEN ct.SL 
                WHEN p.NGAYLAP < @TuNgay AND p.LOAI = 'X' THEN -ct.SL 
                ELSE 0 
            END) AS TON_DAU,

            -- Nhập Trong Kỳ
            SUM(CASE 
                WHEN p.NGAYLAP >= @TuNgay AND p.NGAYLAP <= @DenNgay AND p.LOAI = 'N' THEN ct.SL 
                ELSE 0 
            END) AS NHAP_TK,

            -- Xuất Trong Kỳ
            SUM(CASE 
                WHEN p.NGAYLAP >= @TuNgay AND p.NGAYLAP <= @DenNgay AND p.LOAI = 'X' THEN ct.SL 
                ELSE 0 
            END) AS XUAT_TK

        FROM PHIEU p
        JOIN PHIEU_CT ct ON p.SOPHIEU = ct.SOPHIEU
        WHERE p.TRANGTHAI = 1 -- Chỉ lấy phiếu đã hoàn thành
          AND p.NGAYLAP <= @DenNgay
        GROUP BY ct.MAHH
    )
    SELECT 
        h.MAHH, 
        h.TENHH, 
        h.DVT,
        nh.TENNHOM,
        
        ISNULL(d.TON_DAU, 0) AS TON_DAU,
        ISNULL(d.NHAP_TK, 0) AS NHAP,
        ISNULL(d.XUAT_TK, 0) AS XUAT,
        
        -- Tồn Cuối
        (ISNULL(d.TON_DAU, 0) + ISNULL(d.NHAP_TK, 0) - ISNULL(d.XUAT_TK, 0)) AS TON_CUOI,
        
        -- Giá trị
        (ISNULL(d.TON_DAU, 0) + ISNULL(d.NHAP_TK, 0) - ISNULL(d.XUAT_TK, 0)) * h.GIAVON AS GIATRI_TON

    FROM DM_HANGHOA h
    LEFT JOIN CTE_NX d ON h.MAHH = d.MAHH
    LEFT JOIN DM_NHOMHANG nh ON h.MANHOM = nh.MANHOM
    WHERE h.ACTIVE = 1 
      AND (@TuKhoa = '' OR h.TENHH LIKE N'%' + @TuKhoa + N'%' OR h.MAHH LIKE N'%' + @TuKhoa + N'%')
    ORDER BY h.TENHH;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Report_DoanhThuLoiNhuan]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Báo cáo Doanh Thu & Lợi Nhuận (Revenue & Profit)
CREATE   PROCEDURE [dbo].[sp_Report_DoanhThuLoiNhuan]
    @FromDate DATE,
    @ToDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.NGAYLAP AS Ngay,
        SUM(ct.SL * ct.DONGIA) AS DoanhThu,
        SUM(ct.SL * h.GIAVON) AS GiaVon, -- Using Current Cost as proxy
        SUM((ct.SL * ct.DONGIA) - (ct.SL * h.GIAVON)) AS LoiNhuanGop
    FROM PHIEU p
    JOIN PHIEU_CT ct ON p.SOPHIEU = ct.SOPHIEU
    JOIN DM_HANGHOA h ON ct.MAHH = h.MAHH
    WHERE p.LOAI = 'X' -- Export/Sale
      AND p.TRANGTHAI = 1 -- Approved/Completed
      AND p.NGAYLAP BETWEEN @FromDate AND @ToDate
    GROUP BY p.NGAYLAP
    ORDER BY p.NGAYLAP;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Report_TheKho]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Báo cáo Thẻ kho
CREATE PROCEDURE [dbo].[sp_Report_TheKho]
    @MaHH NVARCHAR(50),
    @FromDate DATETIME,
    @ToDate DATETIME
AS
BEGIN
    -- Calculate Opening Balance
    DECLARE @OpeningBalance INT = 0;
    
    SELECT @OpeningBalance = ISNULL(SUM(CASE WHEN p.LOAI = 'N' THEN ct.SL ELSE -ct.SL END), 0)
    FROM PHIEU p
    JOIN PHIEU_CT ct ON p.SOPHIEU = ct.SOPHIEU
    WHERE ct.MAHH = @MaHH
      AND p.NGAYLAP < @FromDate;

    -- Select Transactions
    SELECT 
        p.NGAYLAP AS Date,
        p.SOPHIEU AS RefNo,
        CASE WHEN p.LOAI = 'N' THEN N'Nhập' ELSE N'Xuất' END AS Type,
        CASE WHEN p.LOAI = 'N' THEN ct.SL ELSE 0 END AS ImportQty,
        CASE WHEN p.LOAI = 'X' THEN ct.SL ELSE 0 END AS ExportQty,
        0 AS Balance -- Placeholder, calculated in app or via recursive CTE if needed
    FROM PHIEU p
    JOIN PHIEU_CT ct ON p.SOPHIEU = ct.SOPHIEU
    WHERE ct.MAHH = @MaHH
      AND p.NGAYLAP BETWEEN @FromDate AND @ToDate
    ORDER BY p.NGAYLAP, p.SOPHIEU;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Report_TonKhoTongHop]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Báo cáo Tồn kho Tổng hợp
CREATE PROCEDURE [dbo].[sp_Report_TonKhoTongHop]
AS
BEGIN
    SELECT 
        hh.MAHH AS ItemCode,
        hh.TENHH AS ItemName,
        hh.DVT AS Unit,
        ISNULL(SUM(k.SO_LUONG_TON), 0) AS Quantity,
        ISNULL(SUM(k.SO_LUONG_TON * k.DON_GIA_NHAP), 0) AS Value -- Simple valuation based on FIFO/Specific ID logic from KHO_CHITIET_TONKHO
    FROM DM_HANGHOA hh
    LEFT JOIN KHO_CHITIET_TONKHO k ON hh.MAHH = k.MAHH
    GROUP BY hh.MAHH, hh.TENHH, hh.DVT
    HAVING ISNULL(SUM(k.SO_LUONG_TON), 0) > 0 -- Only show items with stock
    ORDER BY hh.TENHH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TheKho]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 2. PROC THẺ KHO
-- Sửa lỗi: Đổi ct.SOLUONG thành ct.SL
-- =============================================
CREATE   PROCEDURE [dbo].[sp_TheKho]
    @MaHH VARCHAR(50),
    @TuNgay DATETIME,
    @DenNgay DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Tính Tồn Đầu Kỳ
    DECLARE @TonDau DECIMAL(18,2) = 0;

    SELECT @TonDau = ISNULL(SUM(CASE 
        WHEN p.LOAI = 'N' THEN ct.SL 
        WHEN p.LOAI = 'X' THEN -ct.SL 
        ELSE 0 
    END), 0)
    FROM PHIEU p 
    JOIN PHIEU_CT ct ON p.SOPHIEU = ct.SOPHIEU
    WHERE ct.MAHH = @MaHH 
      AND p.NGAYLAP < @TuNgay 
      AND p.TRANGTHAI = 1;

    -- 2. Trả về bảng kết quả
    SELECT 
        CAST(@TuNgay AS DATE) AS NGAYLAP,
        N'ĐẦU KỲ' AS SOPHIEU,
        N'Số dư đầu kỳ' AS DIENGIAI,
        NULL AS LOAI_PHIEU,
        0 AS NHAP,
        0 AS XUAT,
        @TonDau AS TON_LUY_KE,
        0 AS STT_SAP_XEP
    
    UNION ALL

    SELECT 
        p.NGAYLAP,
        p.SOPHIEU,
        p.GHICHU AS DIENGIAI,
        CASE WHEN p.LOAI = 'N' THEN N'Nhập' ELSE N'Xuất' END AS LOAI_PHIEU,
        CASE WHEN p.LOAI = 'N' THEN ct.SL ELSE 0 END AS NHAP,
        CASE WHEN p.LOAI = 'X' THEN ct.SL ELSE 0 END AS XUAT,
        0 AS TON_LUY_KE, 
        1 AS STT_SAP_XEP
    FROM PHIEU p
    JOIN PHIEU_CT ct ON p.SOPHIEU = ct.SOPHIEU
    WHERE ct.MAHH = @MaHH 
      AND p.NGAYLAP BETWEEN @TuNgay AND @DenNgay
      AND p.TRANGTHAI = 1

    ORDER BY STT_SAP_XEP ASC, NGAYLAP ASC, SOPHIEU ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuatKho_FIFO]    Script Date: 12/10/2025 4:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_XuatKho_FIFO]
    @SoPhieu BIGINT,
    @MaHH NVARCHAR(30),
    @SoLuongXuat INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SoLuongCanXuat INT = @SoLuongXuat;
    DECLARE @TongGiaVon DECIMAL(18, 2) = 0;
    
    DECLARE @ID_Lo BIGINT;
    DECLARE @TonLo INT;
    DECLARE @GiaVonLo DECIMAL(18, 2);
    
    -- Check total stock first
    DECLARE @TongTon INT;
    SELECT @TongTon = SUM(SO_LUONG_TON) 
    FROM KHO_CHITIET_TONKHO 
    WHERE MAHH = @MaHH;
    
    IF ISNULL(@TongTon, 0) < @SoLuongCanXuat
    BEGIN
        RAISERROR(N'Không đủ tồn kho để xuất.', 16, 1);
        RETURN;
    END

    -- Cursor for FIFO (Oldest first)
    DECLARE cur_FIFO CURSOR FOR
    SELECT ID, SO_LUONG_TON, DON_GIA_NHAP
    FROM KHO_CHITIET_TONKHO
    WHERE MAHH = @MaHH AND SO_LUONG_TON > 0
    ORDER BY NGAY_NHAP ASC, ID ASC;

    OPEN cur_FIFO;
    FETCH NEXT FROM cur_FIFO INTO @ID_Lo, @TonLo, @GiaVonLo;

    WHILE @@FETCH_STATUS = 0 AND @SoLuongCanXuat > 0
    BEGIN
        DECLARE @SoLuongLay INT;

        IF @TonLo >= @SoLuongCanXuat
        BEGIN
            -- Batch has enough
            SET @SoLuongLay = @SoLuongCanXuat;
        END
        ELSE
        BEGIN
            -- Batch not enough, take all
            SET @SoLuongLay = @TonLo;
        END

        -- Deduct from Batch
        UPDATE KHO_CHITIET_TONKHO
        SET SO_LUONG_TON = SO_LUONG_TON - @SoLuongLay
        WHERE ID = @ID_Lo;

        -- Accumulate Cost
        SET @TongGiaVon = @TongGiaVon + (@SoLuongLay * @GiaVonLo);

        -- Decrease needed quantity
        SET @SoLuongCanXuat = @SoLuongCanXuat - @SoLuongLay;

        FETCH NEXT FROM cur_FIFO INTO @ID_Lo, @TonLo, @GiaVonLo;
    END

    CLOSE cur_FIFO;
    DEALLOCATE cur_FIFO;

    -- Update PHIEU_CT with calculated Cost Price (Average Cost of this transaction)
    IF @SoLuongXuat > 0
    BEGIN
        UPDATE PHIEU_CT
        SET GIAVON = @TongGiaVon / @SoLuongXuat
        WHERE SOPHIEU = @SoPhieu AND MAHH = @MaHH;
    END
END
GO
USE [master]
GO
